<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CarMapper">
    <resultMap type="Car" id="CarResult">
        <result property="licensePlate" column="license_plate" />
        <result property="model" column="model" />
        <result property="color" column="color" />
        <result property="manufacturer" column="manufacturer" />
        <result property="createUser" column="create_user" />
        <result property="updateUser" column="update_user" />
        <result property="isDeleted" column="is_deleted" />
    </resultMap>


    <!-- 查询单个车辆信息通过车牌号 -->
    <select id="selectCarByLicensePlate" resultType="com.ruoyi.system.domain.Car">
        SELECT * FROM Car
        WHERE licensePlate = #{licensePlate}
    </select>

    <!-- 查询所有车辆信息 -->
    <select id="selectCarList" resultType="com.ruoyi.system.domain.Car">
        SELECT * FROM Car
    </select>

    <!-- 插入车辆信息 -->
    <insert id="insertCar">
        INSERT INTO Car (licensePlate,modle,creattime, color,manufacturer,creatUser,updateUser,isDeleted)
        VALUES (#{licensePlate}, #{model}, #{color}, #{manufacturer}, #{createUser}, #{updateUser},#{isDeleted})
    </insert>

    <!-- 更新车辆信息 -->
    <update id="updateCar">
        UPDATE Car
        SET make = #{make}, model = #{model}, creattime = #{createTime},color=#{color},manufacturer=#{manufacturer},creatUser=#{createUser},updateUser=#{updateUser}
        WHERE licensePlate = #{licensePlate}
    </update>

    <!-- 根据车牌号删除车辆信息 -->
    <delete id="deleteCarByLicensePlate">
        DELETE FROM Car
        WHERE licensePlate = #{licensePlate}
    </delete>

    <!-- 根据多个车牌号批量删除车辆信息 -->
    <delete id="deleteCarByLicensePlates">
        DELETE FROM Car
        WHERE licensePlate IN
        <foreach item="licensePlate" collection="licensePlates" open="(" separator="," close=")">
            #{licensePlate}
        </foreach>
    </delete>

</mapper>