<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PackagesMapper">
    
    <resultMap type="Packages" id="PackagesResult">
        <result property="id"    column="id"    />
        <result property="sid"    column="sid"    />
        <result property="sname"    column="sname"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="content"    column="content"    />
        <result property="picture"    column="picture"    />
        <result property="price"    column="price"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectPackagesVo">
        select id, sid, sname, name, type, content, picture, price, create_time, create_user, update_time, update_user, is_deleted from packages
    </sql>

    <select id="selectPackagesList" parameterType="Packages" resultMap="PackagesResult">
        <include refid="selectPackagesVo"/>
        <where>  
            <if test="sid != null and sid != '' "> and sid like concat('%', #{sid}, '%')</if>
            <if test="sname != null  and sname != ''"> and sname like concat('%', #{sname}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="picture != null  and picture != ''"> and picture = #{picture}</if>
            <if test="price != null  and price != ''"> and price = #{price}</if>
            <if test="createUser != null "> and create_user = #{createUser}</if>
            <if test="updateUser != null "> and update_user = #{updateUser}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectPackagesById" parameterType="Integer" resultMap="PackagesResult">
        <include refid="selectPackagesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPackages" parameterType="Packages" useGeneratedKeys="true" keyProperty="id">
        insert into packages
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null">sid,</if>
            <if test="sname != null">sname,</if>
            <if test="name != null">name,</if>
            <if test="type != null">type,</if>
            <if test="content != null">content,</if>
            <if test="picture != null">picture,</if>
            <if test="price != null">price,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sid != null">#{sid},</if>
            <if test="sname != null">#{sname},</if>
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="content != null">#{content},</if>
            <if test="picture != null">#{picture},</if>
            <if test="price != null">#{price},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updatePackages" parameterType="Packages">
        update packages
        <trim prefix="SET" suffixOverrides=",">
            <if test="sid != null">sid = #{sid},</if>
            <if test="sname != null">sname = #{sname},</if>
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="content != null">content = #{content},</if>
            <if test="picture != null">picture = #{picture},</if>
            <if test="price != null">price = #{price},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePackagesById" parameterType="Integer">
        delete from packages where id = #{id}
    </delete>

    <delete id="deletePackagesByIds" parameterType="String">
        delete from packages where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>