<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ScenicMapper">
    
    <resultMap type="Scenic" id="ScenicResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="picture"    column="picture"    />
        <result property="score"    column="score"    />
        <result property="introduction"    column="introduction"    />
        <result property="price"    column="price"    />
        <result property="playTime"    column="play_time"    />
        <result property="city"    column="city"    />
        <result property="address"    column="address"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectScenicVo">
        select id, name, picture, score, introduction, price, play_time, city, address, create_time, create_user, update_time, update_user, is_deleted from scenic
    </sql>

    <select id="selectScenicList" parameterType="Scenic" resultMap="ScenicResult">
        <include refid="selectScenicVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="picture != null  and picture != ''"> and picture = #{picture}</if>
            <if test="score != null  and score != ''"> and score = #{score}</if>
            <if test="introduction != null  and introduction != ''"> and introduction = #{introduction}</if>
            <if test="price != null  and price != ''"> and price = #{price}</if>
            <if test="playTime != null  and playTime != ''"> and play_time = #{playTime}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="createUser != null "> and create_user = #{createUser}</if>
            <if test="updateUser != null "> and update_user = #{updateUser}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectScenicById" parameterType="Integer" resultMap="ScenicResult">
        <include refid="selectScenicVo"/>
        where id = #{id}
    </select>

    <select id="getAll" resultMap="ScenicResult">
        select  * from scenic where is_deleted = 0
    </select>

    <insert id="insertScenic" parameterType="Scenic" useGeneratedKeys="true" keyProperty="id">
        insert into scenic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="picture != null">picture,</if>
            <if test="score != null">score,</if>
            <if test="introduction != null">introduction,</if>
            <if test="price != null">price,</if>
            <if test="playTime != null">play_time,</if>
            <if test="city != null">city,</if>
            <if test="address != null">address,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="picture != null">#{picture},</if>
            <if test="score != null">#{score},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="price != null">#{price},</if>
            <if test="playTime != null">#{playTime},</if>
            <if test="city != null">#{city},</if>
            <if test="address != null">#{address},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateScenic" parameterType="Scenic">
        update scenic
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="picture != null">picture = #{picture},</if>
            <if test="score != null">score = #{score},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="price != null">price = #{price},</if>
            <if test="playTime != null">play_time = #{playTime},</if>
            <if test="city != null">city = #{city},</if>
            <if test="address != null">address = #{address},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScenicById" parameterType="Integer">
        delete from scenic where id = #{id}
    </delete>

    <delete id="deleteScenicByIds" parameterType="String">
        delete from scenic where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>