html {
  font:normal 14px '微软雅黑,Microsoft Yahei';
  color: #666666;
  font-size: 14px;
}

body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color:#666;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}
